# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
build/
web-build/
expo-env.d.ts

# local env files (MVP)
.env
.env.*
!.env.example
.env*.local

# Native / signing material
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# typescript
*.tsbuildinfo

# generated native folders (managed Expo)
ios/
android/
